<p id="notice"><%= notice %></p>

<p>
  <strong>Name of pet:</strong>
  <%= @pet.Name_of_pet %>
</p>

<p>
  <strong>Type of pet:</strong>
  <%= @pet.Type_of_pet %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.Breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.Age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @pet.Weight %>
</p>

<p>
  <strong>Date of last visit:</strong>
  <%= @pet.Date_of_last_visit %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
