<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Pet_name %><br>
    <%= f.text_field :Pet_name %>
  </div>
  <div class="field">
    <%= f.label :Date_of_next_appointment %><br>
    <%= f.date_select :Date_of_next_appointment %>
  </div>
  <div class="field">
    <%= f.label :reason_of_visit %><br>
    <%= f.text_area :reason_of_visit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
